.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hero {
  background: url("https://media.giphy.com/media/OTnDHCCFNZHwc/giphy.gif")
    no-repeat center center/cover;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero-content {
  text-align: center;
}

.hero-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-description {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero-btn {
  padding: 1rem 2rem;
  font-size: 1.25rem;
  color: white;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-btn:hover {
  background-color: #666;
}

.about-component {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  width: 60%;
  padding: 2rem;
  color: #333;
  margin: 2rem 0;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.about h2 {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  margin-bottom: 1rem;
}

.about p {
  font-size: 1.25rem;
  line-height: 1.6;
  color: #666;
  margin-bottom: 1rem;
}

.services-component {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.services {
  padding: 2rem;
  background-color: #f7f7f7;
  color: #333;
  margin: 2rem 0;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.services h2 {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  margin-bottom: 1rem;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}

.service-item {
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.service-item h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.service-item p {
  font-size: 1rem;
  line-height: 1.6;
  color: #666;
}

.contact-component {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  padding: 2rem;
  background-color: #f7f7f7;
  color: #333;
  margin: 2rem 0;
  width: 80%;
  max-width: 800px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  margin-bottom: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group label {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group select {
  padding: 0.5rem;
  font-size: 1.25rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  color: white;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #666;
}
