.navigation-component {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 100;
  font-size: 2rem;
}

.navigation-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container a {
  text-decoration: none;
  color: #fff; /* Add color style */
  font-size: 2.5rem;
}

.logo {
  margin-left: 20px;
  color: #fff;
}

nav {
  display: flex;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu-mobile {
  display: none;
}

.navitem {
  color: #fff;
  text-decoration: none;
  padding: 0 15px;
  font-size: 1.5rem;
}

.nav-icon {
  display: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  margin-right: 20px;
}

/* Very Slim Devices – <320px. */
@media screen and (max-width: 320px) {
}

/* Mobile devices – 320px — 480px. */
@media screen and (max-width: 480px) {
}

/* iPads, Tablets – 481px — 768px. */
@media screen and (max-width: 768px) {
  .logo-container a {
    font-size: 1rem;
  }

  .nav-menu {
    display: none;
  }

  .nav-menu-mobile {
    display: block;
    position: absolute;
    top: 60px;
    right: 0; /* Change left to right */
    background-color: #000;
    list-style: none;
    min-width: 200px;
    width: 40%;
    padding: 10px 0;
  }

  .nav-icon {
    display: block;
    position: absolute; /* Add position absolute */
    top: 15px; /* Adjust top position */
    right: 20px; /* Add right position */
  }
}

/* Small screens, laptops – 769px — 1024px. */
@media screen and (max-width: 1024px) {
}

/* Desktops, large screens – 1025px — 1200px. */
@media screen and (max-width: 1200px) {
}

/* Extra large screens, TV – 1201px, and more. */
@media screen and (min-width: 1201px) {
}
